<h1>About AuctionWhore</h1>

<p>Well - we like crack. Alot of crack. So to support our crack addiciton - we sell gold in World of Warcraft.</p>

<p>After a while we got sick of farming motes and herbs, so we've come up with a better system to farm gold. We use the auction house like a bitch - but that good sort of bitch. Download the addon - start the scanning - and the mother fucking graphs yo!</p>

<img src="/images/tyrone.jpg" />
