<h1>Account</h1>

<h3>API Key</h3>
<p>Use the API key in your agent. Ssshh...keep this secret.</p>
<p><pre><%= current_user.api_key %></pre></p>

<p>Now please...keep this a secret. If you give it to people - you are a tard.</p>

<img src="/images/mr_t.jpg" />
